{% extends 'base.html.twig' %}

{% block body %}
<div class="container" >
    <div class="input-group mb-3">
        <div class="input-group">
            <span class="input-group-text">Value for calculate</span>
            <input type="text" aria-label="First name" class="form-control">
            <input type="text" aria-label="Last name" class="form-control">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
        </div>
    </div>
</div>
{% endblock %}
